*{
  margin: 0;
  padding: 0;
}

.topnav {
    background-color: #2d2e2e;
    overflow: hidden;
    border-radius: 0px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration:dashed;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    border-radius: 2px;
    color: rgba(12, 240, 221, 0.664);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #0fdb7c;
    border-radius: 0px;
    border-color: aliceblue;
    color: white;
  }

  .topContent{
   background: #868585;
   padding: 40px;
   margin-bottom: 1%;
   border-bottom-right-radius: 20px;
   border-top-right-radius: 20px;

 }

  img {
    width: 15%;
    height: auto;
    margin-top: 3%;
    margin-left: 40%;
    margin-bottom: 3%;
    padding: 0;
  }
   
.content-left{
  background-color: rgb(216, 216, 216);
  border-left: 15px solid rgb(20, 255, 255);
  padding: 50px;
  margin: 20px;
  
}

.project img{
  width: 150px;
  height: 150px;
  margin: 100px;
}

.footer{
  background-color: rgb(73, 73, 73);
  color: rgb(248, 248, 248);
  border: 2px solid rgba(20, 83, 255, 0.856);
  padding: 50px;
  margin: 20px;
  border-radius: 10px;
  
}

.footer a{
  color: #00b33c;
  margin-right: 100%;
  padding-left: 2px;
  text-shadow: 1px 1px #b9b7b7;
}


.dropbtn {
  background-color: #04AA6D;
  padding: 21px;
  font-size: 16px;
  border: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(8, 74, 255, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 12px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content img{
  width: 50px;
  height: 50px;
  padding: 0;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}